.message-in-progress {
  color: #fff;
  font-size: 48px;
  text-align: center;
}
.tree-container {
  display:flex;
  width:100%;
  padding-top:5rem;
  position:relative;
}
.tree-container__settings{
  width: 25%;
  padding:3rem 1rem;
}
.tree-container__toys{
  width: 25%;
  padding:3rem 1rem;
}
.main-tree{
  position:relative;
  width:50%;
  height:85vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  padding:2% 5%;
  justify-content: center;
  align-items: flex-end;
  overflow:hidden;
  .main-tree__tree{
    margin:auto;
    width:70%;
   height:100%;
    z-index: 2;
  }
  .garland{
    pointer-events: none;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 90;

  }
}
.fa-snowflake{
  animation: fall 2s linear forwards;
  width:5rem;
  height:5rem;
  position:absolute;
  top:-20%;
}
@keyframes fall {
  to { 
    transform: translateY(100vh);
  }
}