@import "../sass_global/constants";
@import "../sass_global/mixins";
@import "../sass_global/placeholders";
.wrapper {
  width: 100%;
  background: url("./../assets/bg.jpg") repeat;
  position: relative;
  min-height: 100vh;
}

.app-navigation {
  width: 100%;
  position: absolute;
  top: 0%;
  min-height: 5rem;
}
.app-footer {
  width: 100%;
  z-index:0;
  opacity:70%;
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;
  position: absolute;
  bottom: 0.5%;
}
