.wrapper {
width: 100%;
background: url('./../assets/bg.jpg') no-repeat;
background-size: cover;
}
.container {
  margin: 0 auto;
  padding:0 5%;
  display: flex;
}
.side-bar {
  height: 100vh;
  min-width: 30%;
}
.toys-container{
  padding-top:2%;
  position: relative;
}

