<div class="input-row">
  <input class="input-name" type="text" [(ngModel)]="nameChoice"/>
  <input class="input-color" type="color" (change)="print()" [(ngModel)]="colorChoice"/>
  <button class="button button_add" (click)="makeCar()" [disabled]="!nameChoice" >Create Car</button>
</div>
<div class="input-row">
  <input class="input-name" type="text" />
  <input class="input-color" type="color" />
  <button class="button button_add" [disabled]="!canChange" (click)="makeCar()">Update Car</button>
</div>
