<div class="input-row">
  <input class="input-name" type="text"  [(ngModel)]="nameChoice" [disabled]="(carForUpdate!==undefined)"/>
  <input class="input-color" type="color" [(ngModel)]="colorChoice" [disabled]="(carForUpdate!==undefined)" />
  <button class="button button_add" (click)="makeCar()" [disabled]="(!nameChoice || carForUpdate)" >Create Car</button>
</div>
<div class="input-row">
  <input class="input-name" type="text" [(ngModel)]="updateNameChoice" [disabled]="!carForUpdate"/>
  <input class="input-color" type="color" [(ngModel)]="updateColorChoice" [disabled]="!carForUpdate" />
  <button class="button button_add" [disabled]="!carForUpdate" (click)="updateCar()">Update Car</button>
</div>
