.container-question{
    height: 100vh;
    padding:5%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        width:100%;
        border:1px solid $color-border;
        border-radius: 5%;
    }

}
.bullets{
    width:100%;
    height:10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top:10%;
    .bullet{
        width:1rem;
        height:1rem;
        border-radius: 50%;
        border: 1px solid $color-border;
        &.wrong{
            background-color: $color-wrong;
            
        }
        &.right{
            background-color: $color-right;
        }
    }
}

.container-options{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:10px;
    margin-bottom:5%;
    
}
.options{
    width:45%;
    border:1px solid $color-border;
    border-radius: 5%;
    @include font(1.4rem, 1.8rem, 500, normal);
    color:$color-innertext;
    @extend %font-roboto;
    text-align: center;
    &.right{
        background-color: $color-right;
    }
    &.wrong{
        background-color: $color-wrong;
    }
}
.container-question.hide{
    display:none;
}