
.container-results{
    height:100vh;
    padding:15% 5% 5% 5%;
    transform: translateY(-150%);
    &.loaded{
        transform: translateY(0);
        @extend %transition-results;
    }
    @include media-mobile{
        padding:10% 5% 5% 5%;
        }
        @include media-desktop{
            padding:5% 5% 5% 5%;
            }
}
.results-header_score{
    @include font(1.6rem, 1.8rem, 500, normal);
    color:$color-innertext;
    @extend %font-roboto;
    text-align: center;
    margin-bottom:5%;
    @include media-mobile{
        margin-bottom:1%;
        }
    
}

.images-results{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
    row-gap:3%;
    .image-results{
        @include media-mobile{
            max-width:18%;
            }
        max-width:30%;
        border-radius: 50%;
        &.colored{
            border: 5px solid $color-right;
        }
        &.black-white{
            border: 5px solid $color-wrong;
        }
        &:hover{
            cursor: pointer;
            animation: bounce 0.5s 1 ease;
            // opacity: 70%;
            // @extend %transition;
        }

        img{
            width:100%;
            border-radius: 50%;
            
            &.black-white{
                filter:grayscale(100%);               
            }
            
        }
    }

}