.container-settings{
  height:100vh;
  padding: 5%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  &.hidden{
    display: none;
  }
  .header{
    @include font(1.4rem, 2rem, 500, normal);
    color:$color-innertext;
    @extend %font-roboto;
    text-align: left;
  }
}
.sound, .music{
  width:100%;
  display:flex;
  justify-content:space-between;
}
.toggle{
  width:40%;
  display:flex;
  justify-content: space-between;
}
.header{
  @include font(1.4rem, 2rem, 500, normal);
  color:$color-innertext;
  @extend %font-roboto;
  text-align: left;
}
.switch-button {
  display: block;
  width: 5rem; /* ширина */
  height: 2rem; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: $color-overlay; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-button::after {
  content: "";
  height: 1.5rem; /* высота кнопки */
  width:1.5rem; /* ширина кнопки */
  border-radius: 17px;
  background: $color-innertext; /* цвет кнопки */
  top: 0.2rem; /* положение кнопки по вертикали относительно основы */
  left: 0.2rem; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: $color-darkdetails;
}
.switch-on::after {
  left:3.3rem;
}
.volume{
  display:flex;
  justify-content: space-between;
  .icon{
    background: url("../../../art-quiz/image-data/svg/volume-medium.svg") no-repeat;
    width:2rem;
    height:2rem;
  }
  .sound-volume, .music-volume{
    width:80%;
  }
}
.selection{
  display:flex;
  justify-content: space-between;
  margin-top:2%;
 vertical-align: baseline;
}
.music-select {
  display: inline-block;
  outline: none;
  color: $color-innertext;
  border: 1px solid $color-innertext;
  border-radius: 5px;
  background: transparent;
  } 