<div class="container">
  <div class="navigation-buttons">
    <button
      class="button button_main"
      [disabled]="raceMode"
      (click)="winnersPage = false"
    >
      Garage
    </button>
    <button
      class="button button_main"
      [disabled]="raceMode"
      (click)="winnersPage = true; this.allCarsBacktoStart();"
    >
      Winners
    </button>
  </div>
  <app-winners *ngIf="winnersPage" [state] = "winnerPageState" (onPageChange)= "changeWinnersPage($event)" (onSortChange)="changeWinnersSort($event)"></app-winners>
  <div *ngIf="!winnersPage">
    <app-car-customization
      (onAddingCars)="makeCar($event)"
      (onUpdatingCar)="updateCar($event)"
      [carForUpdate]="selectedId"
      [isAvailable] = 'raceMode'

    ></app-car-customization>
    <p class="info info__small" *ngIf="abortionFlag">Waiting for race abortion...</p>
    <button
      class="button button_main"
      (click)="renderCars()"
      [disabled]="raceMode"
    >
      Get {{ CARS_TO_RENDER }} cars
    </button>
    <button
      class="button button_main"
      (click)="resetRace()"

    >
      Reset
    </button>
    <button
      class="button button_main"
      (click)="startRace()"
      [disabled]="raceMode||abortionFlag"
    >
      Race
    </button>

    <p class="info info__big">Total amount of cars: {{ totalAmountOfCars }}</p>
    <p class="info info__small">Page: {{ pageNumber }}</p>
    <div class="cars" *ngFor="let car of carsArray">
      <div class="cars__data">
        <button
          class="button button_adds button_colored"
          (click)="changeCar(car.id)"
          [disabled]="isMoving(car.id) || raceMode"
        >
          Select
        </button>
        <button
          class="button button_adds"
          (click)="deleteCar(car.id)"
          [disabled]="isMoving(car.id) || raceMode"
        >
          &#10008;
        </button>
        <p class="info info__small">{{ car.name }}</p>
      </div>
      <!-- <p class="cars__car-name">{{ car.id }}</p> -->
      <button
        class="button button_adds button_colored"
        (click)="move(car.id)"
        [disabled]="isMoving(car.id) || raceMode || abortionFlag"
      >
        Move
      </button>
      <button
        class="button button_adds"
        (click)="stop(car.id)"
        [disabled]="!isMoving(car.id) || raceMode"
      >
        Stop
      </button>

      <app-car
        class="cars__car-image"
        [class.selected]="isSelected(car.id)"
        id="car-{{ car.id }}"
        [color]="car.color"
      ></app-car>
      <app-flag class="flag" id="flag-{{ car.id }}"></app-flag>
    </div>
    <div class="navigation-buttons">
      <button
        class="button button_main"
        (click)="previousPage()"
        [disabled]="pageNumber < 2 || raceMode"
      >
        Previous Page
      </button>
      <button
        class="button button_main"
        (click)="nextPage()"
        [disabled]="pageNumber > pageAmount - 1 || raceMode"
      >
        Next Page
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="showResultMessage">
  <div class="overlay">
    <div class="modal">
      <p class="winner-message" *ngIf="winner.name">
        And wins...
        <span class="winner-message__name">{{ winner.name }}</span> with the
        result {{ winner.time }}s
      </p>
      <p class="winner-message" *ngIf="!winner.name">
        Sorry, no winner in this race... All participants are broken.
      </p>
      <button
        class="button button_main button_main_message"
        (click)="closeResultMessage()"
      >
        Close
      </button>
    </div>
  </div>
</ng-container>
