.sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font: 300 0.5em 'Fira Sans', sans-serif;
    

}


.source__item {
   
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    transform: scale(1)
    
}

.source__item:hover,
.source__item:focus {
    transform: scale(2);
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    /* transform: translateY(-0.25em); */
    font: 300 1em 'Fira Sans', sans-serif;
    background-color: #17181c;
    z-index: 1;
    
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
