$color-background:#ffffff;
$color-border:#ffffff;
$color-primary: #7ca3c4;
$color-innertext: #ffffff;
$color-darkdetails:#FFBCA2;
$color-darktext:#000000;

$width-mobile: 520px;
$width-tablet:768px;
$width-desktop:1024px;