@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;500;700&display=swap');
@import "./sass_general/constants";
@import "./sass_general/mixins";
@import "./sass_general/placeholders";


* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
html {
  font-size: 7px;
  background-color: $color-background;
  @include media-desktop {
    font-size:5px;
  }
  @include media-tablet {
    font-size:4px;
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
