@import "./../../sass_global/mixins";
@import "./../../sass_global/placeholders";
@import "./../../sass_global/constants";

.tree-container__header {
  text-align: center;
  color: $color-text;
  @extend %font-neucha;
  @include font(2.8rem, 2.8rem, 400, normal);
}
.tree-container__toy {
  width: 23%;
  background: $background-cards;
  border-radius: 10px;
  @extend %transition-cards;
  position: relative;
  padding: 2%;
}
.tree-container__toy-image {
  width: 80%;
  padding-top: 100%;
  content: "";
  position: relative;
  img {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 100%;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.tree-container__toy-count {
  position: absolute;
  background: $background-favcards;
  color: $color-text;
  border-radius: 50%;
  border: 1px solid $color-header-border;
  @extend %font-roboto;
  @include font(1.5rem, 1.5rem, 400, normal);
  bottom: 0%;
  right: 0%;
  padding: 3%;
}
.toys-to-hang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.button-container {
  margin-top:1rem;
  width: 100%;
  text-align: center;
}
.button-screen {
  margin-top: 0.2rem;
  white-space: nowrap;
  min-width: 60%;
  color: $color-text;
  border: 1px solid $color-header-border;
  text-align: center;
  padding: 0.3rem;
  @extend %font-roboto;
  @include font(1.8rem, 1.8rem, 300, normal);
  margin-right: 2%;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 3rem;
  background-color: $color-header-background;
  &:hover {
    transform: scale(1.1);
  }
}