@import "./../../sass_global/mixins";
@import "./../../sass_global/placeholders";
@import "./../../sass_global/constants";

.settings-bar__header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: $color-text;
  @extend %font-neucha;
  @include font(2.2rem, 2.2rem, 400, normal);
}
.trees-to-choose,
.bg-to-choose {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.trees-to-choose__tree,
.bg-to-choose__bg {
  width: 15%;
  background: $background-cards;
  border-radius: 10px;
  @extend %transition-cards;
  padding: 2%;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.bg-to-choose__bg {
  width: 19%;
  height: 5rem;
  padding: 0;
}
.trees-to-choose__image {
  width: 80%;
  margin: 1rem auto;
  img {
    width: 100%;
  }
}
.switch__svg {
  width: 2rem;
  height: 2rem;
}
.switch__switcher {
  display: block;
  width: 5rem; /* ширина */
  height: 2rem; /* высота */
  border-radius: 19px; /* радиус скругления */
  background-color: $color-switch; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch__switcher::after {
  content: "";
  height: 1.5rem; /* высота кнопки */
  width: 1.5rem; /* ширина кнопки */
  border-radius: 17px;
  background-color: $color-outline; /* цвет кнопки */
  top: 0.2rem; /* положение кнопки по вертикали относительно основы */
  left: 0.2rem; /* положение кнопки по горизонтали относительно основы */
  @extend %transition-cards; /* анимация */
  position: absolute;
  z-index: 1;
}
.switchers-row {
  display: flex;
  justify-content: space-between;
}
.switch {
  display: flex;
  column-gap: 3rem;
}
.switch__svg_on {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg)
    brightness(89%) contrast(90%);
}
.switch-on {
  background: $color-darktext;
}
.switch-on::after {
  left: 3.3rem;
  background: $color-text;
}
.fa-snowflake {
  animation: fall 2s linear forwards;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -20%;
}
@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
.garland-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  &.multicolor {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8
    );
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
      #ccc 0 2px 12px;
  }
  &.red {
    background-color: #f00;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
      rgb(255 0 0 / 50%) 0 2px 12px;
  }
  &.green {
    background-color: #abff00;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
      #89ff00 0 2px 12px;
  }
  &.blue {
    background-color: #24e0ff;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #006 0 -1px 9px,
      #3f8cff 0 2px 14px;
  }
  &.yellow {
    background-color: #ff0;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
      #ff0 0 2px 12px;
  }
}
.garland-row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.button-container {
  width: 100%;
  text-align: center;
}
.button-screen {
  margin-top: 0.2rem;
  white-space: nowrap;
  min-width: 60%;
  color: $color-text;
  border: 1px solid $color-header-border;
  text-align: center;
  padding: 0.3rem;
  @extend %font-roboto;
  @include font(1.8rem, 1.8rem, 300, normal);
  margin-right: 2%;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 3rem;
  background-color: $color-header-background;
  &:hover {
    transform: scale(1.1);
  }
}
.congrats__container {
  position: relative;
  margin: 0 auto;
  border-radius: 3rem;
  background: $color-search-bar;
  border: 0.2rem solid $color-border;
  width: 80%;
  margin-bottom: 2rem;
}
.congrats-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.congrats__input {
  background: transparent;
  border: none;
  width: 80%;
  color: $color-text;
  padding: 0.5rem 1rem;
  &:focus {
    background: transparent;
    border: none;
    outline: none;
  }
}

.congrats__close {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  top: 0%;
  right: 1.5rem;

  @extend %font-roboto;
  @include font(2rem, 2.2rem, 400, uppercase);
  color: $color-text;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
