<audio src="assets/audio/audio.mp3" #audioplayer loop></audio>
<div class="general-settings">
  <div class="switchers-row">
    <div class="switch" *ngFor="let settings of settingsObject; let i = index">
      <div
        class="switch__svg"
        [ngStyle]="returnSettingsIcon(settings.type)"
        [class.switch__svg_on]="settings.isOn"
      ></div>
      <div
        class="switch__switcher"
        [class.switch-on]="settings.isOn"
        (click)="toggle(i)"
      ></div>
    </div>
  </div>
  <h3 class="settings-bar__header">Выберите ёлку:</h3>
  <div class="trees-to-choose">
    <div
      class="trees-to-choose__tree"
      *ngFor="let tree of treesToChoose"
      (click)="changeTree(tree.num)"
    >
      <div class="trees-to-choose__image">
        <img src="assets/tree/{{ tree.num }}.png" alt="tree-image" />
      </div>
    </div>
  </div>
  <h3 class="settings-bar__header">Выберите фон:</h3>
  <div class="bg-to-choose">
    <div
      class="bg-to-choose__bg"
      *ngFor="let bg of bgToChoose"
      (click)="changeBg(bg.num)"
      [ngStyle]="returnBackground(bg.num)"
    ></div>
  </div>
  <h3 class="settings-bar__header">Выберите гирлянду:</h3>
  <div class="garland-row">
    <button
      class="garland-button"
      *ngFor="let color of garlandColors; let k = index"
      [ngClass]="garlandColors[k]"
      (click)="changeGarlandColor(garlandColors[k])"
    ></button>
    <div
      class="switch__switcher"
      [class.switch-on]="garlandIsOn"
      (click)="garlandToggle()"
    ></div>
  </div>
</div>
<h3 class="settings-bar__header">Ваше поздравление:</h3>
<div class="congrats-bar">
  <div class="congrats__container">
    <input
      class="congrats__input"
      type="text"
      #congrats
      [(ngModel)]="congratsInput"
      (input)="inputCongrat(congrats.value)"
      autocomplete="off"
    />
    <span class="congrats__close" (click)="deleteCongratsInput()">&times;</span>
  </div>
</div>
<div class="button-container">
  <button class="button-screen" (click)="makeScreen()">
    Получить открытку
  </button>
</div>

<!-- 
        (click)="toggle(i)" -->
