@import "./../../sass_global/mixins";
@import "./../../sass_global/placeholders";
@import "./../../sass_global/constants";

.filter-container__svg {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
  z-index:1;
  background-size: cover;
  background-position: center;
  &.filter-container__svg_colored {
    filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(
141deg) brightness(89%) contrast(90%);
  }
  img {
    z-index:0;
    vertical-align: center;
    text-align: center;
    &.filter-container__svg_colored {
      filter: sepia(150%);
    }
  }
}
.color-filter-container__box {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  content:'';

}
.filter-container__items {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.filter-container__item {
  text-align: center;
}
.filter-container__description {
  color: $color-text;
  @extend %font-roboto;
  @include font(1rem, 1.2rem, 300, normal);
}
.filter-container__header {
  @extend %font-neucha;
  @include font(2rem, 2.2rem, 400, uppercase);
  color: $color-text;
  margin-top: 2%;
}
.filter-container__checkbox {
  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}
::ng-deep {
  .filter-slider .ngx-slider .ngx-slider-span {
    color: $color-text
  }
  .filter-slider .ngx-slider{
    &:hover{
      cursor:pointer;
    }
  }
}