<div class="filter-container">
  <p class="filter-container__header">Форма</p>
  <div class="filter-container__items">
    <div class="filter-container__item" *ngFor="let shape of shapes" >
    <img class="shape-filter-container__svg"  src="./../../assets/svg/{{shape.svgName}}.svg" alt="{{shape.name}} icon">
    <p class="filter-container__description">{{shape.name}}</p>
    <input  type ="checkbox" class="filter-container__checkbox" id = "shape-checkbox" value = "yes" (change) = "filterByShape(shape)">
    <label for ="shape-checkbox"></label>
    </div>
  </div>
</div>
<div class="filter-container">
  <p class="filter-container__header">Цвет</p>
  <div class="filter-container__items">
    <div class="filter-container__item" *ngFor="let color of this.colors" >
    <span [ngStyle] = "{'background-color':color.colorCode}" class="color-filter-container__box" ></span>
    <p class="filter-container__description">{{color.name}}</p>
    <input  type ="checkbox" class="filter-container__checkbox" id = "color-checkbox" value = "yes" (change) = "filterByColor(color)">
    <label for ="color-checkbox"></label>
    </div>
  </div>
</div>
<div class="filter-container">
  <p class="filter-container__header">Размер</p>
  <div class="filter-container__items">
    <div class="filter-container__item" *ngFor="let size of this.sizes" >
    <p class="filter-container__description">{{size.name}}</p>
    <input  type ="checkbox" class="filter-container__checkbox" id = "size-checkbox" value = "yes" (change) = "filterBySize(size)">
    <label for ="size-checkbox"></label>
    </div>
  </div>
</div>
<div class="filter-container">
  <p class="filter-container__header">Избранное</p>
  <div class="filter-container__items">
    <div class="filter-container__item" *ngFor="let favorite of this.favorites" >
    <p class="filter-container__description">{{favorite.description}}</p>
    <input  type ="checkbox" class="filter-container__checkbox" id = "favorite-checkbox" value = "yes" (change) = "filterByFavorite(favorite)">
    <label for ="favorite-checkbox"></label>
    </div>
  </div>
</div>