/*Обнуление*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

:root{
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
}


*{
    
    scroll-behavior: smooth;
}

body{
    
    background-color: var(--bg-dark);
    
}
section{
    margin:0;
    
}
.container{
    margin: 0 auto;
    max-width: 1440px;
}
/*Header*/
.header-container{
    margin: 0 auto;
    max-width: 1440px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.logo {
    transition: 0.5s;
    display: flex;
    max-width: 199px;
    width:100%;
    padding: 59px 0px 58px 0px;   
}
.logo-text{
    text-transform: uppercase;
    font-family: "Forum", serif;
    position:relative;
    margin-left: 25px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;   
}
.logo-text a{
    color:#FFFFFF;
}
.logo-icon{
    background-image: url("../museum/assets/svg/Vector.svg");
    transition: 1s;
    width: 49px;
    height: 26px;
}
.logo:hover{
    filter: invert(49%) sepia(42%) saturate(277%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
.menu{
    max-width: 775px;
    width:100%;
    transition: 0.5s;
    width:100%;
    padding: 62px 0px 62px 0px;
    
}
.menu-list{
    display: flex;
    justify-content: space-between;
}
.menu-list li{
font-family: "Roboto", sans-serif;
font-weight: 100;
font-size: 22px;
line-height: 26px;
letter-spacing: 2px;
color: #FFFFFF;
}
.menu-list li a{
    color: #FFFFFF;
    background-color: transparent;  
}
.menu-list li:hover{
    filter: invert(49%) sepia(42%) saturate(277%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
/*--------------------*/
/*Welcome*/

.welcome-wrap{
    padding:150px 0px 0px 0px;
}
.section-title h2{
    
    color:#ffffff;
    font-family: "Forum",serif;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.under-title {
    padding: 25px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.discover-button{
    margin-top:  75px;
    max-width: 360px;
    width: 100%;
    border-radius: 10px;
    height: 75px;
    background-color: var(--dark-red);   
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    transition: 0.8s;
    
}
.discover-button a{
    color: #FFFFFF;
}
.discover-button:hover{
    cursor:pointer;
    background-color: var(--font-gold); 
    
}

.welcome-wrap{
    background: url("assets/img/1.png") no-repeat;
    min-height:810px;
    width:100%;
    background-position: top right; 
    position: relative; 
    display: flex;
     
    
}
.slider-welcome{
    max-width: 600px;
    width:100%;
    background-color: var(--bg-dark);
    position: absolute;
height:120px;
    right: 0px;
    bottom: 0px;
    
}
.welcome-squares span{
    text-align: justify;
    width:100%;
    max-width:76px;
    display: block;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right:55px;
}
.arrows-button{
    background-color: transparent;
    margin-bottom: 55px;
}
.welcome-squares {
    margin:40px 75px 40px 74px;
  width:451px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  text-align: center;
}
.slider-welcome input { display: none; }

input#welcome-1:checked ~ .welcome-squares label#welcome-square-1,
input#welcome-2:checked ~ .welcome-squares label#welcome-square-2,
input#welcome-3:checked ~ .welcome-squares label#welcome-square-3,
input#welcome-4:checked ~ .welcome-squares label#welcome-square-4,
input#welcome-5:checked ~ .welcome-squares label#welcome-square-5 {
  background:  #D2B183;

}
.slider-welcome input:checked { 
  display: none;
}

.welcome-square {
  
  width: 16px;
  height: 16px;
  
  position: relative;
  margin:10px 25px 40px 0px; 
  
  background-color: #FFFFFF;
}

.welcome-squares .welcome-square:hover {
  cursor: pointer;
  background-color: var(--dark-red);
}
.leftarrow{
   
    margin-right:25px;
}
#welcome-square-5{
    margin-right: 60px;
}
.leftarrow, .rightarrow{
    font-size: 30px;
    display: inline-block;
    color:#FFFFFF;
    

}

.rightarrow:hover{
    cursor: pointer;
    color: var(--dark-red); 
}
.leftarrow:hover{
    cursor: pointer;
    color: var(--dark-red); 
}

.visiting{
    background-color: #FFFFFF;
    min-height: 1116px;
    padding: 75px 0px 75px 0px;
}
.section-title-white{
    
    position: relative;
    color:var(--font-gold);
    font-family: "Forum",serif;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}
.section-title-white::after{
    
    position: absolute;
    z-index: 9999;
    content: "";
    max-width: 1440px;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
    margin-top: 25px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 72px 60px ;
    margin-top:  106px;
}
.cards-element{
    display: block;
    color: #000000;
    
    transition: 1s;
}
.cards-element:hover .cards-title:after{ 
    width: 100%;
}
.cards-title{

font-family: "Forum", serif;
font-size: 32px;
line-height: 35px;
letter-spacing: 5px;
text-transform: uppercase;
margin-top: 25px;
position: relative;
color: #000000;
}
.cards-title::after{
    display: block;
    position: absolute;
    content: "";
    max-width: 440px;
    width: 68%;
    height: 2px;
    background-color: var(--dark-red);
    margin-top: 10px;
    transition: 1s;
}
.upper{
    font-family: "Roboto",sans-serif;
    display: block;
    margin-top: 22px;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.down{
    margin-top: 10px;
    font-family: "Roboto",sans-serif;
    display: block;
    
    font-weight: 100;
    font-size: 18px;
    line-height: 21px; 
    color: #000000;

}
.explore{
    min-height: 865px;
    padding: 75px 0px 75px 0px;   

}
.explore-wrap{
    display: flex;
    gap:60px;
    min-height: 715px;
    
}

.section-title-black {
    
    
    max-width: 660px;
    width: 100%;
    display: block;
    
}
.section-title-black h2{
    color:#ffffff;
    font-family: "Forum",serif;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
   
    margin-bottom: 103px;
    
    
}
.section-title-black h2::after{
    display: block;
    position: absolute;
    content: "";
    max-width: 660px;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
    margin-top: 25px;
}
.section-title-black p{
    margin-top: 25px;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    display: block;
    
}
.explore-wrap img{
    max-width: 720px;
    height:700px;
    width: 100%;
    margin-top:15px;
}
.yellow-text{
    color: #CAAA7D;
}
.video-player{
    background-color: #FFFFFF;
    min-height: 1396px;
    padding: 75px 0px 75px 0px;
}
#video-player::after{
display: none;
}
.video-head{
    display: flex;
    gap:115px;
}
.video-h2{
    white-space: nowrap;
}
.main-video video{
    width:100%;
    
    margin-top:75px;
    bottom:0px;
    display: block;
    
    
}
.main-video{
    position: relative;
}
.main-button{
    
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    fill:#FFFFFF;
    overflow: visible;
    transition: 0.5s;
    
}
.main-button:hover svg path, .main-button:active svg path{
cursor: pointer;
fill: #666666;
}


.video-controls{
    border:none;
    height:85px;
    top:0px;
min-width: 85px;
background-color: #000000;
display: flex;
justify-content: space-between;
margin-top:0px;
}
.play-button, .fullscreen-button, .volume-button {
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    
    transition: 0.3s;
}
.play-button{
    margin:27px 50px 27px 30px;
}
.fullscreen-button{
    margin:25px 25px 25px 50px;
}
.volume-button{
    margin:27px 0px 27px 0px;
}
.progress-small{
    margin:42px 0px 42px 50px;
}
.progress-big{
    margin: 42px 50px 42px 0px;
}
.play-button:hover svg path, .play-button :active svg path {
    fill: var(--dark-red);
}
.volume-button:hover svg path,  .volume-button :active svg path{
    fill: var(--dark-red);
}
.fullscreen-button:hover svg path, .fullscreen-button :active svg path{
    fill: var(--dark-red);
}

.progress-small{
    max-width: 155px;
    width:100%;
    
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 40%, #fff 40%, #fff 100%);
    border: none;
    height:8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.progress-small::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #ffffff;
  }
  .progress-big::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #ffffff;
  }
  .progress-big {
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 40%, #fff 40%, #fff 100%);
    border: none;
    height:8px;
    outline: none;
    -webkit-appearance: none;
    max-width: 929px;
    width:100%;
  }
  .other-video{
      display: flex;
      justify-content: space-between;
      column-gap: 42px;
      margin-top: 40px;
  }
  .other-video iframe{
      max-width: 452px;
      width:100%;
      min-height: 254px;
  }
  .slider-video{
      width:100%;
      height:12px;
      max-width:1440px;
  }
 .next:hover svg path, .prev:hover svg path{
     fill:var(--dark-red);
 }
 
  
  .nav-dots {
      margin-top:40px;
    
    margin-left:620px;
	width: 100%;
	max-width:200px;
	display: flex;
    justify-content: space-between;
	position: absolute;
	text-align: center;
}
.slider-video input { display: none; }

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5 {
	background: rgba(0, 0, 0, 0.8);
}
.slider-video input:checked { 
    display: none;
 }
 
.nav-dot {
	
	width: 12px;
	height: 12px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}
.prev, .next:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}
.text-aside{ 
    padding-top: 10px;
    font-family: "Roboto";
font-weight: 300;
font-size: 22px;
line-height: 38px;
text-transform: none;
max-width: 720px;
width: 100%;
color: #000000;
}
.gallery{
    min-height: 2200px;
    padding: 75px;
    z-index: 0;
    position: relative;
             
}
#gallery-divider h2{
    margin: 0px;
}
#gallery-divider h2::after{
display: none;
}
.picture-container{
    width:100%;
    margin-top: 51px;
    height:1960px;
    
    z-index: 0;
    overflow-y:hidden; 
    position: relative;
}
.picture-container img{
    position: absolute;
    
    bottom:0px;
    z-index: 50;
    

}

.picture-inner-container{
    min-height:auto;
    max-width:1512px;
    z-index: 0;
    /* display: grid; */
    position: relative;
    /* column-count: 3; */
    /* grid-template-columns: repeat(3,1fr);  */
    column-gap: 36px;
    
    
    
    height:2996px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: baseline; 
    
    
    
    
}

.picture-inner-container img{
    margin: 24px 0px 0px 0px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: bottom;
    width:456px;
    height:auto;


}
.tickets{
    background-color: #FFFFFF;
    min-height: 893px;
    padding: 75px 0px 75px 0px;
}
.tickets-wrapper{
    display:flex;
    justify-content: space-between;
    margin-top: 103px;
}
.tickets-type{
    margin:0px 240px 0px 60px;
    
    max-width: 270px;
    width:100%
}

.tickets-type-title, .tickets-amount-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    
    margin-top: 0;
    margin-bottom: 50px;
}
.radio-label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: block;
    position: relative;
    padding-left: 40px;
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
    user-select: none;
    margin: 25px 0px;
    transition: color 0.3s
}
.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    display: inline-block;
    left: 0;
    top:3px;
    align-content: center;
    margin-right:23px;
    height: 17px;
    width: 17px;
    border: 2px solid #000000;
    border-radius: 50%;

}
.radio-label:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-label input:checked ~ .checkmark:after {
    display: block;
}
.radio-label .checkmark:after {
    top: 4px;
   left: 4px;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background: #000000;
}
.tickets-amount{
    max-width: 150px;
    width:100%;
}
.tickets-amount-title{
    text-align: right;
    top:2px;
    margin-bottom: 25px;
}
.tickets-category{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}
.tickets-counter {
    width:100%;
    border: 4px solid #000000;
    padding: 6px 6px;
    margin-bottom: 23px;
    display: inline-block;
    margin-top: 15px;
    height:50px;
   margin-bottom: 10px;
    text-align: center;
    vertical-align: center;
    align-content: center;
    
}
 .number  {
    border: none;
    color: #000000;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin:0px 6px 0px 6px;
    height:26px;
    padding-bottom: 5px;

    display: inline-block;

    
    
}
.minus-button, .plus-button{
    font-family: "Roboto";
    
    text-align: center;
    
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    background-color: transparent;
    align-content: center;
    color: #000000;
    
}
.total{
    font-family: "Roboto",sans-serif;

font-weight: 700;
font-size: 28px;
line-height: 33px;
margin-top: 44px;
letter-spacing: 1.65px;

}
.buy-button {
    background-color: #000000;
    border: none;
    padding: 12px 37px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 52px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s;
    max-width: 175px;
    margin-left: -25px;
}
.buy-button:hover{
background-color: var(--font-gold);
}

/*Side panel*/
#side-checkbox{
    display: none;
}
.side-panel{
    position: fixed;
    z-index: 999999;
    top:0px;
    right:-100%;
    height:845px;
    width:1440px;
    transition: all 1s;
    background-color: #ffffff;
}
#side-checkbox:checked + .side-panel{
    right:calc(50% - 720px);
}
.side-button-close{
    position: absolute;
    
    z-index:888888;
    top:30px;
    right:30px;
       
        transition: all 280ms;
    cursor: pointer;
}
.side-button-close:hover svg path{ 
    fill:var(--dark-red);
}
.container-side{
    
    margin: 91px auto;
    max-width:970px;
    width:100%;
    min-height:663px;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    
    
}
.first-side-column{
    max-width:400px;
    width:100%;
}
.side-title h2{
    position: relative;
    color:var(--font-gold);
    font-family: "Forum",serif;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;  
}
.side-title p{
    margin-top:15px;
    font-family: "Roboto";    
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;    
    color: #710707;
    position: relative;
    
     
}
.side-title p::after{
    display: block;
    content:"";
    max-width: 420px;
width:100%;
position:absolute;
background-color: var(--dark-red);
height:3px;
margin-top: 9px;
}

.icon-form{
    padding: 10px;

  text-align: center;
  display: block;
  
}
.date-time-container{
    display:flex;
    column-gap: 20px;
}
.date-container, .time-container{
    display: flex;
   
    max-width: 190px;
    width:100%;
    height:45px;
    border: 3px solid #030303;
    margin-top:71px;
    text-align:center;
    background: transparent;

}
.input-field:hover, .input-fielddt:hover{
    cursor: pointer;
}
.input-field:focus, .input-fielddt:focus  {
    border: 4px solid var(--dark-red);
  }
  
.input-fielddt {
   max-width: 160px;
   width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    display: block;
    
  }
  .input-field {
    max-width: 350px;
    width: 100%;
     padding: 10px;
     outline: none;
     background: transparent;
     display: block;
     
   }
  .userinfo-container{
    display: flex;
   
    max-width: 400px;
    width:100%;
    height:45px;
    border: 3px solid #030303;
    margin-top:20px;
    text-align:center;
    background: transparent;

  }
  input::-webkit-input-placeholder, .input-field option, select, .input-fielddt{
    font-family: "Roboto";
    color: #030303;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
  .entry-ticket{
    margin-top: 20px;
   padding:10px 15px 15px 15px;
   border: 1px solid #030303;  
   height: 135px; 
  }
  .entry-ticket h6{
    font-family: "Forum";
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    position: relative;
    
    color: #9D8665;
  }
  .entry-ticket h6:after{
    
position:absolute;

      content:"";
      height: 2px;
      display: block;
      margin-top: 5px;
      background: #740C11;
      width:100%;
      max-width: 370px;

  }
  .entry-typesfirst{
      margin-top: 25px;
  }
  .entry-types p{
    font-family: "Roboto";
    
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 22px;
    color: #030303;
  }






.parallax{
    background-image: url("../museum/assets/img/parallax.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 400px;
}
.contacts{
    width:100%;
    min-height: 963px;
    background-color: #FFFFFF;
    padding: 75px 0px;
}
.contacts-wrap{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-top:103px;

}
.address h4{
    font-family: "Roboto";
display: block;
font-weight: 500;
font-size: 28px;
line-height: 33px;
color:black;
text-transform: none;
display: block;
max-width:227px;
letter-spacing:initial;
width:100%;
margin-bottom: 50px;

}

.address p{
    font-family: "Roboto";
    margin:25px 0px 25px 0px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

}
.upper-footer{
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    transition: 0.5s;
    display: flex;
    max-width: 195px;
    width:100%;
    
    margin: 83px 145px 140px 0px;   
}
.logo-footer:hover{
    filter: invert(49%) sepia(42%) saturate(277%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
.footer-menu{
    max-width:363px;
    width:100%;
    margin:87px 397px 50px 0px;
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 150px;
    grid-row-gap: 25px;
}
.footer-list li{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.footer-list li a{
        color: #FFFFFF;
        background-color: transparent;  
}
.footer-list li:hover{
        filter: invert(49%) sepia(42%) saturate(277%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
.social-footer{
    max-width:340px;
    width:100%;
    margin:162px 0px 55px 0px;
}
.footer-menu-list{
    display:flex;
    justify-content: space-between;

}

.social-link a { 
    display: flex;   
    align-items: center;   
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 100%;    
    
}
.social-link :hover svg path, .social-link :active svg path {
    fill: var(--font-gold);
}
.social-link a:hover{
    border: 2px solid var(--font-gold);
}
.down-footer{
display: flex;
justify-content: space-between;
}
.down-footer p{
    display: block;
    font-family: "Roboto";
    margin:50px 0px;
    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;
}
.down-footer::before{
    content: "";
    width: 100%;
    max-width: 1440px;
    background-color: #666666;
    height: 3px;
    position:absolute
}