.category img {
  opacity: 85%;
}

.score:hover, .game-select:hover, .hide, .categories-icon, .back, .settings {
  transition: 0.5s;
}

.options.loaded, .options, .container-question .image-question.loaded {
  transition: 0.5s ease-out;
}

.results-header_score, .final-modal-button, .next-question, .note-result, .note, .description, .options, .score p, .category .number, h5, h4, h3, h2 {
  font-family: "Roboto", sans-serif;
}

.categories.visually-hidden, .categories {
  transition: 1.5s ease-out;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 10px;
}

.wrapper {
  background: url("../../../art-quiz/image-data/cover.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.settings {
  background: url("../../../art-quiz/image-data/svg/settings.svg") no-repeat;
  background-position: top right;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 1;
}
.settings:hover {
  transform: rotate(-120deg);
  cursor: pointer;
}

.back {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 1;
  background: url("../../../art-quiz/image-data/svg/home.svg") no-repeat;
  background-position: top left;
  top: 2%;
  left: 5%;
}
.back:hover {
  cursor: pointer;
  opacity: 60%;
}

.categories-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 1;
  background: url("../../../art-quiz/image-data/svg/list.svg") no-repeat;
  background-position: top center;
  top: 2%;
  left: 50%;
}
.categories-icon:hover {
  cursor: pointer;
  opacity: 60%;
}

h2 {
  background-color: transparent;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

h5 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

.container {
  margin: 0 auto;
  padding: 50% 10% 5% 10%;
  height: 100vh;
  max-height: 100vh;
}

.hide {
  display: none;
}

.logo {
  background: url("../../../art-quiz/image-data/svg/Group 1438.svg") no-repeat;
  background-position: center;
  width: 100%;
  height: 20%;
  margin: auto;
}

.game-select {
  width: 100%;
  margin: 5% auto;
  padding-top: 10%;
  padding-bottom: 10%;
  border: 1px solid #ffffff;
  border-radius: 56px;
}
.game-select:hover {
  cursor: pointer;
  background-color: #FFBCA2;
  opacity: 40%;
}
.game-select:hover h2 {
  color: #000000;
}

.categories {
  padding: 5% 10%;
  margin: 0 auto;
  width: 100%;
  transform: translateY(0);
  display: block;
}
.categories.hidden {
  display: none;
}
.categories.visually-hidden {
  transform: translateY(200%);
}

.categories_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 5%;
  flex-wrap: wrap;
}

.category {
  width: 45%;
  border: 1px solid #ffffff;
  position: relative;
  border-radius: 5%;
}
.category .number {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 5%;
  text-align: center;
}
.category img {
  display: block;
  width: 100%;
}
.category img:hover {
  cursor: pointer;
  opacity: 60%;
}
.category img.not-colored {
  filter: grayscale(80%);
}

.score {
  position: absolute;
  width: 100%;
  max-width: 50%;
  background: #6e0707;
  border: 1px solid #ffffff;
  border-radius: 5%;
  bottom: 0;
  right: 0;
}
.score p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
}
.score:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.score.best-score {
  background: #135810;
}

.container-question {
  width: 100%;
  height: 100vh;
  padding: 5%;
}
.container-question img {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ffffff;
  border-radius: 5%;
}
.container-question .image-question {
  transform: scale(0);
}
.container-question .image-question.loaded {
  transform: scale(1);
}

.bullets {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10%;
  margin-bottom: 10%;
}
.bullets .bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.bullets .bullet.wrong {
  background-color: #6e0707;
}
.bullets .bullet.right {
  background-color: #135810;
}

.container-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  margin-bottom: 5%;
  margin-top: 10%;
}

.options {
  width: 45%;
  border: 1px solid #ffffff;
  border-radius: 5%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  transform: scale(0);
}
.options.right {
  background-color: #135810;
}
.options.wrong {
  background-color: #6e0707;
}
.options.loaded {
  transform: scale(1);
}

.container-question.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-container {
  position: relative;
  overflow: auto;
  width: 70%;
  max-height: 80%;
  min-height: 50%;
  border: 1px solid #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 5%;
}

.image-answer {
  max-width: 50%;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 5%;
}
.image-answer.big {
  max-width: 70%;
}

.container-answer {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-picture-modal {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.icon-wrong {
  background: url("../../../art-quiz/image-data/svg/cross.svg") no-repeat;
  width: 48px;
  height: 48px;
}

.description {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: left;
}

.icon-right {
  background: url("../../../art-quiz/image-data/svg/checkmark.svg") no-repeat;
  width: 48px;
  height: 48px;
}

.note {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
}
.note span {
  color: #FFBCA2;
}

.note-result {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
}

.next-question {
  border-radius: 56px;
  width: 30%;
  border-radius: 5%;
  background-color: #FFBCA2;
  color: #000000;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  text-transform: normal;
}

.final-modal-button {
  border-radius: 56px;
  width: 100%;
  max-width: 60%;
  border-radius: 56px;
  background-color: #FFBCA2;
  color: #000000;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  text-transform: normal;
}

.image-result {
  max-width: 50%;
  width: 100%;
  border-radius: 1px solid #ffffff;
  border-radius: 5%;
}

.container-results {
  height: 100vh;
  padding: 15% 5% 5% 5%;
}

.results-header_score {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

.images-results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 3%;
}
.images-results .image-results {
  max-width: 30%;
  border-radius: 50%;
}
.images-results .image-results.colored {
  border: 5px solid #135810;
}
.images-results .image-results.black-white {
  border: 5px solid #6e0707;
}
.images-results .image-results img {
  width: 100%;
  border-radius: 50%;
}
.images-results .image-results img.black-white {
  filter: grayscale(100%);
}

/*# sourceMappingURL=style.css.map */
