///Constants:
$color-background: #000;
$color-text: #FFF;
$color-main-button: rgb(250, 109, 128);
$background-button-main: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.8) 0%, rgba(46, 181, 199, 0.8) 100%);
$background-button-adds: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.8) 0%, rgba(230, 62, 62, 0.8) 100%);
