$color-text: #ffffff;
$color-darktext: #096a88;
$color-border: rgba(157, 243, 255, 0.8);
$color-balltie: #aaa;
$color-header-background: rgba(31, 112, 127, .3);
$color-header-border: #278D9F;
$color-outline:rgba(255, 255, 255, 0.5);
$color-outline-hover:rgba(255, 255, 255, 0);
$color-search-bar:radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
$background-cards: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.8) 0%, rgba(46, 181, 199, 0.8) 100%);
$background-favcards: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.8) 0%, rgba(230, 62, 62, 0.8) 100%);
$background-selection:radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
$width-desktop: 920px;
$width-notescreen: 1024px;
$width-fullscreen: 1321px;