$color-text: #ffffff;
$color-darktext: #096a88;
$background-cards: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.8) 0%, rgba(46, 181, 199, 0.8) 100%);
$background-favcards: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.8) 0%, rgba(230, 62, 62, 0.8) 100%);