@import "./mixins";
@import "./placeholders";
@import "./constants";
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
html {
  font-size: 20px;
  @extend %font-roboto;
  @include media-fullscreen {
    font-size:10px;
  }
  @include media-desktop {
    font-size:8px;
  }
  
}