body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.github-link {
    align-items: center;
    width: 90%;
    margin-top: 2%;
    bottom: 2%;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    color: rgba(80, 80, 80, 0.5);
    right: 5%;
    left: 5%;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    font-style: normal;
    text-transform: normal;
}
.github-link a {
    text-decoration: none;
}
.github-link a:hover,
.github-link a:active,
.github-link a:visited {
    text-decoration: none;
    color: rgba(80, 80, 80, 0.5);
    cursor: pointer;
}

.school-icon {
    width: 5rem;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 3px;
    opacity: 70%;
}
.school-icon:hover {
    opacity: 100%;
    cursor: pointer;
}
