@charset "UTF-8";
.category img {
  opacity: 85%;
}

.button-settings:hover, .switch-button::after, .container-settings.loaded, .container-settings, .options:hover, .score:hover, .game-select:hover, .game-select, .categories-icon, .back, .settings, .hide {
  transition: 0.5s;
}

.options.loaded, .options {
  transition: 0.5s ease-out;
}

.github-link, .button-settings, .header, .results-header_score, .final-modal-button, .next-question, .note-result, .note, .description, .options, .timer, .score p, .category .number, h5, h4, h3, h2 {
  font-family: "Roboto", sans-serif;
}

.container-question .image-question.loaded, .categories.visually-hidden, .categories {
  transition: 1.5s ease-out;
}

.container-results.loaded {
  transition: 1s ease-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes escape-rotating {
  0% {
    opacity: 0;
    transform: rotateY(-60deg);
  }
  25% {
    opacity: 1;
    transform: rotateY(-45deg);
  }
  75% {
    opacity: 1;
    transform: rotateY(-15deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

.wrapper {
  background: url("../../../src/assets/image-data/cover.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 25vh 10% 5vh 10%;
  height: 100vh;
  max-height: 100vh;
}

.hide {
  display: none;
}

.volume-range {
  background: linear-gradient(to right, #ffbca2 0%, #ffbca2 40%, rgba(80, 80, 80, 0.5) 40%, rgba(80, 80, 80, 0.5) 100%);
  border: none;
  outline: none;
  -webkit-appearance: none;
  height: 1rem;
  width: 80%;
}

.volume-range::-webkit-slider-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffbca2;
}

h2 {
  background-color: transparent;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

h5 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}
@media (min-width: 520px) {
  h5 {
    margin-bottom: 1%;
  }
}

.settings {
  background: url("../../../src/assets/image-data/svg/settings.svg") no-repeat;
  background-position: top right;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 1;
}
@media (min-width: 520px) {
  .settings {
    background-size: 70%;
  }
}
.settings:hover {
  transform: rotate(-120deg);
  cursor: pointer;
}

.back {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 1;
  background: url("../../../src/assets/image-data/svg/home.svg") no-repeat;
  background-position: top left;
  top: 2%;
  left: 5%;
}
@media (min-width: 520px) {
  .back {
    background-size: 70%;
  }
}
.back:hover {
  cursor: pointer;
  opacity: 60%;
}

.categories-icon {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 1;
  background: url("../../../src/assets/image-data/svg/list.svg") no-repeat;
  background-position: top center;
  top: 2%;
  left: 50%;
}
@media (min-width: 520px) {
  .categories-icon {
    background-size: 70%;
  }
}
.categories-icon:hover {
  cursor: pointer;
  opacity: 60%;
}

.volume .icon {
  background: url("../../../src/assets/image-data/svg/volume-medium.svg") no-repeat;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 520px) {
  .volume .icon {
    background-size: 70%;
  }
}

.icon-wrong {
  background: url("../../../src/assets/image-data/svg/cross.svg") no-repeat;
  width: 4.8rem;
  height: 4.8rem;
}
@media (min-width: 520px) {
  .icon-wrong {
    background-size: 70%;
  }
}

.icon-right {
  background: url("../../../src/assets/image-data/svg/checkmark.svg") no-repeat;
  width: 4.8rem;
  height: 4.8rem;
}
@media (min-width: 520px) {
  .icon-right {
    background-size: 70%;
  }
}

.logo {
  background: url("../../../src/assets/image-data/svg/Group_1438.svg") no-repeat;
  background-position: center;
  width: 100%;
  height: 20vh;
  margin: auto;
}
@media (min-width: 520px) {
  .logo {
    background-size: 20%;
  }
}

.game-select {
  width: 100%;
  margin: 5vh auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border: 1px solid #ffffff;
  border-radius: 56px;
}
.game-select:hover {
  cursor: pointer;
  background-color: #ffbca2;
  opacity: 40%;
}
.game-select:hover h2 {
  color: #000000;
}

.categories {
  padding: 5% 10%;
  margin: 0 auto;
  width: 100%;
  transform: translateY(0);
  display: block;
}
.categories.hidden {
  display: none;
}
.categories.visually-hidden {
  transform: translateY(100%);
}

.categories_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 5%;
  flex-wrap: wrap;
}

.category {
  width: 45%;
  border: 1px solid #ffffff;
  position: relative;
  border-radius: 5%;
}
@media (min-width: 520px) {
  .category {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .category {
    width: 22%;
  }
}
.category .number {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 5%;
  text-align: center;
}
.category img {
  display: block;
  width: 100%;
  border-radius: 5%;
}
.category img:hover {
  cursor: pointer;
  opacity: 60%;
}
.category img.not-colored {
  filter: grayscale(80%);
}

.score {
  position: absolute;
  width: 100%;
  max-width: 50%;
  background: #6e0707;
  border: 1px solid #ffffff;
  border-radius: 5%;
  bottom: 0;
  right: 0;
}
.score p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
}
.score:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.score.best-score {
  background: #135810;
}

.container-question {
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  padding: 5%;
  position: relative;
  text-align: center;
}
.container-question img {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ffffff;
  border-radius: 5%;
}
.container-question .image-question {
  transform: scale(0);
}
@media (min-width: 520px) {
  .container-question .image-question {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .container-question .image-question {
    width: 30%;
  }
}
.container-question .image-question.loaded {
  transform: scale(1);
}

@media (min-width: 520px) {
  .container-question-image {
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
  }
}

.timer {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 15%;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
}

.bullets {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10vh;
  margin-bottom: 5vh;
}
.bullets .bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.bullets .bullet.wrong {
  background-color: #6e0707;
}
.bullets .bullet.right {
  background-color: #135810;
}

.container-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.options {
  width: 45%;
  border: 1px solid #ffffff;
  border-radius: 5%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  transform: scale(0);
}
.options.right {
  background-color: #135810;
}
.options.wrong {
  background-color: #6e0707;
}
.options.loaded {
  transform: scale(1);
}
.options:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (min-width: 520px) {
  .options.image-type-options {
    width: 22%;
  }
}

.container-question.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-container {
  position: relative;
  overflow-y: hidden;
  width: 70%;
  max-height: 80%;
  min-height: 50%;
  border: 1px solid #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 5%;
  opacity: 0;
  animation: escape-rotating 0.5s 1 ease-in;
}
.modal-container.animated {
  opacity: 1;
}

.image-answer {
  max-width: 50%;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 5%;
}
.image-answer.big {
  max-width: 70%;
}
@media (min-width: 520px) {
  .image-answer.big {
    max-width: 50%;
  }
}
@media (min-width: 520px) {
  .image-answer {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .image-answer {
    width: 30%;
  }
}

.container-answer {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-picture-modal {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
@media (min-width: 1024px) {
  .container-description {
    width: 50%;
    row-gap: 2%;
  }
}

.description {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: left;
}

.note {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
}
.note span {
  color: #ffbca2;
}

.note-result {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
}

.next-question {
  border-radius: 56px;
  width: 30%;
  border-radius: 5%;
  background-color: #ffbca2;
  color: #000000;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  text-transform: normal;
}
.next-question.results {
  width: 45%;
  text-align: center;
}

.results-modal_buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.final-modal-button {
  border-radius: 56px;
  width: 100%;
  max-width: 60%;
  border-radius: 56px;
  background-color: #ffbca2;
  color: #000000;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  text-transform: normal;
}
@media (min-width: 520px) {
  .final-modal-button {
    padding: 1%;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
    font-style: normal;
    text-transform: normal;
    border-radius: 1px solid #ffffff;
  }
}

.image-result {
  max-width: 50%;
  width: 100%;
  border-radius: 1px solid #ffffff;
  border-radius: 5%;
}
@media (min-width: 520px) {
  .image-result {
    width: 30%;
  }
}

.container-results {
  height: 100vh;
  padding: 15% 5% 5% 5%;
  transform: translateY(-150%);
}
.container-results.loaded {
  transform: translateY(0);
}
@media (min-width: 520px) {
  .container-results {
    padding: 10% 5% 5% 5%;
  }
}
@media (min-width: 1024px) {
  .container-results {
    padding: 5% 5% 5% 5%;
  }
}

.results-header_score {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}
@media (min-width: 520px) {
  .results-header_score {
    margin-bottom: 1%;
  }
}

.images-results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 3%;
}
.images-results .image-results {
  max-width: 30%;
  border-radius: 50%;
}
@media (min-width: 520px) {
  .images-results .image-results {
    max-width: 18%;
  }
}
.images-results .image-results.colored {
  border: 5px solid #135810;
}
.images-results .image-results.black-white {
  border: 5px solid #6e0707;
}
.images-results .image-results:hover {
  cursor: pointer;
  animation: bounce 0.5s 1 ease;
}
.images-results .image-results img {
  width: 100%;
  border-radius: 50%;
}
.images-results .image-results img.black-white {
  filter: grayscale(100%);
}

.container-settings {
  height: 100vh;
  padding: 5%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(80, 80, 80, 0.5);
  transform: translateX(-150%);
}
.container-settings.hidden {
  display: none;
}
.container-settings.loaded {
  transform: translateX(0);
}

.sound,
.music,
.time-mode {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toggle {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 520px) {
  .toggle {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .toggle {
    width: 20%;
  }
}

.header {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
  color: #ffffff;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.switch-button {
  display: block;
  width: 5rem;
  /* ширина */
  height: 2rem;
  /* высота */
  border-radius: 19px;
  /* радиус скругления */
  background: rgba(59, 58, 58, 0.8);
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  /* анимация */
}

.switch-button::after {
  content: "";
  height: 1.5rem;
  /* высота кнопки */
  width: 1.5rem;
  /* ширина кнопки */
  border-radius: 17px;
  background: #ffffff;
  /* цвет кнопки */
  top: 0.2rem;
  /* положение кнопки по вертикали относительно основы */
  left: 0.2rem;
  /* положение кнопки по горизонтали относительно основы */
  /* анимация */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #ffbca2;
}

.switch-on::after {
  left: 3.3rem;
}

.volume {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.volume .sound-volume,
.volume .music-volume {
  width: 80%;
}

.selection {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.music-select,
.time-select {
  display: inline-block;
  outline: none;
  border: 1px solid #ffbca2;
  border-radius: 5px;
  width: 50%;
}
.music-select:hover,
.time-select:hover {
  cursor: pointer;
  opacity: 80%;
}

.time-mode_toggle {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media (min-width: 520px) {
  .time-mode_toggle {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .time-mode_toggle {
    width: 20%;
  }
}

.button-settings {
  max-width: 50%;
  white-space: nowrap;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  border-radius: 56px;
  padding: 3%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
}
.button-settings:hover {
  color: #000000;
  background-color: #ffbca2;
  opacity: 80%;
  border: 1px solid #ffbca2;
}

.save-buttons {
  width: 100%;
  text-align: center;
}

.github-link {
  width: 90%;
  position: absolute;
  bottom: 2%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
  color: rgba(80, 80, 80, 0.5);
  right: 5%;
  left: 5%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-transform: normal;
}
.github-link a {
  text-decoration: none;
}
.github-link a:hover, .github-link a:active, .github-link a:visited {
  text-decoration: none;
  color: rgba(80, 80, 80, 0.5);
  cursor: pointer;
}

.school-icon {
  width: 5rem;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 3px;
  opacity: 70%;
}
.school-icon:hover {
  opacity: 100%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
