%cover-style {
  opacity: 85%;
}
%transition {
  transition: 0.5s;
}
%transition-images {
  transition: 0.5s ease-out;
}
%font-roboto {
  font-family: "Roboto", sans-serif;
}
%transition-categories {
  transition: 1.5s ease-out;
}
%transition-results {
  transition: 1s ease-out;
}
