*{
    
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}
html{
    font-size: 10px;
}
.wrapper{
    background: url('../../../art-quiz/image-data/cover.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    // height:100vh;
    position:relative;
}
.settings{
    background:url('../../../art-quiz/image-data/svg/settings.svg') no-repeat;
    background-position: top right;
    width:24px;
    height: 24px;
    position:absolute;
    top:2%;
    right:5%;
    z-index: 1;
    @extend %transition;
    &:hover{
        transform: rotate(-120deg);
        cursor: pointer;
    }
}
.back{
    position:absolute;
    width:24px;
    height: 24px;
    z-index: 1;
    @extend %transition;
    background: url("../../../art-quiz/image-data/svg/home.svg") no-repeat;
    background-position:top left;
    top:2%;
    left:5%;
    &:hover{
        cursor:pointer;
        opacity:60%;
    }
}
.categories-icon{
    position:absolute;
    width:24px;
    height: 24px;
    z-index: 1;
    @extend %transition;
    background: url("../../../art-quiz/image-data/svg/list.svg") no-repeat;
    background-position:top center;
    top:2%;
    left:50%;
    &:hover{
        cursor:pointer;
        opacity:60%;
    }
}
// h1{
//     @include font(4.4rem, 5.4rem, bold, uppercase);
//     color: $color-primary;
//     width:100%;
//     text-align: center;
// }
h2{
    background-color:transparent;
    color:$color-innertext;
    @extend %font-roboto;
    @include font(2.4rem, 2.8rem, 500, uppercase);
    width:100%;
    text-align: center; 
    
}
h3{
    @include font(2.4rem, 2.8rem, 500, normal);
    color:$color-innertext;
    @extend %font-roboto;
    text-align: center;
    margin-bottom:5%;
}
h4{
    @include font(2.2rem, 2.4rem, 500, normal);
    color:$color-innertext;
    @extend %font-roboto;
    text-align: center;
    margin-bottom:5%;
}
h5{
    @include font(2.2rem, 2.4rem, 500, normal);
    color:$color-innertext;
    @extend %font-roboto;
    text-align: center;
    margin-bottom:5%;
    
}
.container{
    margin:0 auto;
    padding: 50% 10% 5% 10%;
    height:100vh;
    max-height:100vh;
    
}
.hide{
    
    display:none;
    @extend %transition;
}